@tailwind utilities;

body {
  --foreground-rgb: #FFFFFF;
  --background-rgb: #85644C;

  background: var(--background-rgb);
}

/* @media (prefers-color-scheme: dark) {
  .body {
    --foreground-rgb: #E5CEBB;
    --background-rgb: #85644C;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}