@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #85644C;
  --background-start-rgb: #E5CEBB;
  --background-end-rgb: #E5CEBB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #E5CEBB;
    --background-start-rgb: #85644C;
    --background-end-rgb: #85644C;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}